build/
extra/

# Visual Studio local files

**/.vs/

# VS, Delphi local files

**/*.local

# Delphi local files

**/*.stat
**/*.identcache
**/__history/

# Project-specific files

# mc outputs from MsgMon.man
source/capture/msgmonTEMP.bin
source/capture/msgmon.rc
source/capture/msgmon.h
source/capture/MSG00001.bin
