build/
extra/

# Visual Studio local files

**/.vs/

# VS, Delphi local files

**/*.local

# Delphi local files

**/*.stat
**/*.identcache
**/__history/
**/__recovery/

# Project-specific files

source/capture/msgmon.capture.vcxproj
source/recorder/msgmon.recorder.vcxproj
